<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Sniffer Manager</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-3.1.1.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Index", "DashBoard")</li>
                    <li>@Html.ActionLink("Чеки", "Index", "Check")</li>
                    <li>@Html.ActionLink("Товары", "Index", "Article")</li>
                    <li>@Html.ActionLink("Арендаторы", "Index", "Location")</li>                                  
                    <li>@Html.ActionLink("Типы логов", "Index", "LogMessageTypes")</li>
                    <li>@Html.ActionLink("Данные", "Index", "Params")</li>
                    <li>@Html.ActionLink("Журнал логов", "Index", "QueryLog")</li>
                    <li>@Html.ActionLink("Логи", "Index", "Log")</li>                   
                    <li>@Html.ActionLink("Настройки", "Index", "Configuration")</li> 
                    <li>@Html.ActionLink("Статус", "Index", "Configuration")</li> 
                    <li>@Html.ActionLink("Отчеты", "Index", "Report")</li> 
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - e.kidyaev@watcomdc.ru</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
