@model List<SnifferManager.Models.ViewModel.LocationDetailViewModel>

<div class="panel panel-primary">    
        <div class="panel-heading">
            <h3 class="panel-title">Арендаторы</h3>
        </div>    
    <div class="panel-body">

        <table class="table">
            <thead>
                <tr>
                   
                    <td></td>
                    <td>Продажи</td>
                    <td>Чеки</td>
                    <td>Всего чеков</td>
                    <td>Последний чек</td>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var location in Model)
                {
                    <tr>   
                        @if (String.IsNullOrEmpty(location.LocationName))
                        {
                            <td>
                                <strong> @Html.ActionLink("Название отсутствует" + " " + location.LocatioId, "Detail", new { id = location.LocatioId }, new { @class = "list-group-item" })</strong>
                            </td>
                        }
                        else
                        {
                            <td><strong> @Html.ActionLink(location.LocationName + " " + location.LocatioId, "Detail", new { id = location.LocatioId }, new { @class = "list-group-item" })</strong> </td>
                        }   
                        <td>@Html.ActionLink("Продажи","Detail",new { id=location.LocatioId})</td>
                        <td>@Html.ActionLink("Чеки","Location","Check",new { id=location.LocatioId},null)</td>                                        
                        <td>@location.CheckCount</td>
                        <td>@location.LastCheckDate</td>                       
                    </tr>
                }
            </tbody>
            
        </table>
    </div>
</div>

